.peculiarities-list {
  display: flex;
  flex-wrap: wrap;
}

.peculiarities-item {
  width: 100%;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    width: calc((100% - 60px) / 2);
    margin-right: 30px;
  }
}

.peculiarities-link {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: rgba(245, 244, 250, 1);
}

.peculiarities-link .icon {
  width: 70px;
  height: 70px;
}

.peculiarities-titel {
  text-align: center;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-titel-color);
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.peculiarities-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
