.works-img {
  width: 370px;
  padding-bottom: 94px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.works-list-position {
  position: relative;
}

.works-list-titel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0;

  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(47, 48, 58, 0.8);
}

.works-titel {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-titel-color);
}
.works-list {
  display: flex;
}
