.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms, visibility 250ms;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 530px;
  height: 580px;
  border-radius: 4px;

  background-color: rgba(255, 255, 255, 1);
}

.modal-button {
  position: absolute;
  top: 14px;
  right: 14px;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: unset;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.icon-close {
  width: 18px;
  height: 18px;
}

.form-titel {
  display: block;
  text-align: center;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--secondary-titel-color);
}

.form-modal-field {
  margin-bottom: 10px;
}

.input-form {
  display: block;
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
}

.input-wrap {
  position: relative;
  display: block;
  &:focus-within {
    fill: var(--accent-color);
  }
  &:checked {
    color: var(--accent-color);
  }
}

.form-modal-input {
  padding-left: 42px;

  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  &:focus-within {
    outline: none;
    border-color: var(--accent-color);
  }
}

.form-modal-icon {
  position: absolute;

  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

.input-comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  &::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  &:focus-within {
    outline: none;
    border-color: var(--accent-color);
  }
}

.input-check {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.icon-check {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 16px;
  height: 15px;
  border: 2px solid var(--secondary-titel-color);
  border-radius: 2px;
  margin-right: 8px;
  fill: var(--main-titel-color);
  &:checked {
    color: var(--accent-color);
  }
}

.form-modal-checkbox:checked + .input-check > .icon-check {
  background-color: rgba(33, 150, 243, 1);
  border: none;
}

.policy {
  margin-left: 2px;
}

.button-submit {
  display: block;
  margin: 0 auto;

  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  color: var(--main-titel-color);
  background-color: var(--accent-color);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: rgba(24, 140, 232, 1);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
      0 2px 1px 0 rgba(0, 0, 0, 0.2);
  }
}
